.header {
  color: white;
  padding: 40px;
  &__form--input {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-bottom: white 2px solid;
    background: transparent;
  }
  &__form--btnSearch {
    padding: 10px;
    margin: 0px 10px 0px 10px;
    background-color: transparent;
    border-radius: 10px;
    border: white 2px solid;
    color: white;
    cursor: pointer;
  }
  &__form--btnReset {
    padding: 10px;
    margin: 0px 10px 0px 0px;
    background-color: transparent;
    border-radius: 10px;
    border: white 2px solid;
    color: white;
    cursor: pointer;
  }
}

::placeholder {
  font-size: 15px;
  color: rgb(255, 255, 255);
}
